*{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #040404;
}

.header{
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    padding-left: 28px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.content{
    padding: 20px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 20px;
    border: 2px solid white;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-evenly;
}

.banner{
    border: 2px solid white;
    padding: 5px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 26px;
    display: flex;
}

.banner div{
    padding: 10px;
    text-align: center;
    align-content: space-around;
}

.banner_right{
    flex-grow: 1;
}

img:hover{
    border: 2px solid white;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    border: 2px dotted white;
    padding: 2px;
    text-decoration: none;
}

a:hover{
    border: 2px solid white;
    background-color: blue;
}

.cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    min-width: 200px;
    min-height: 200px;
    align-self: stretch;
}